html,
body {
  margin: 0;
  padding: 0;
  background: #000;
}

* {
  box-sizing: border-box;
}

.carousel {
  width: 100vw;
  height: calc(100vh - 10rem);
  overflow: hidden;
  position: relative;
}

.carousel-content {
  width: auto;
  height: 100%;
  white-space: nowrap;
}

.carousel-content.animated {
  transition: 0.4s;
}

.carousel > .carousel-content > .image-container {
  width: 100vw;
  height: 100%;
  display: inline-block;
  padding: 0 5rem;
}

.carousel > .carousel-content > .image-container > .image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.thumbs {
  width: 100vw;
  height: 10rem;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.thumbs > .image-container {
  display: inline-block;
  width: 12.5%;
  height: 100%;
  padding: 0.5rem;
}

.thumbs > .image-container > .image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
}

.thumbs > .image-container > .image:hover {
  opacity: 1;
}

.thumbs > .image-container + .image-container {
  padding-left: 0;
}

/* buttons */

.carousel-button {
  position: absolute;
  width: 5rem;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  opacity: 0.5;
  top: 0;
}

.carousel-button:before {
  content: "▶";
  display: block;
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.2);
}

.carousel-button:hover {
  opacity: 1;
}

.carousel-button.left {
  left: 0;
}

.carousel-button.left:before {
  left: 0;
  transform: scaleX(-1);
}

.carousel-button.right {
  right: 0;
}

/* modal */

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: block;
  max-width: 95vw;
  max-height: 95vh;
}
